body {
  background-color: #000000;
}

.btn {
  background-color: #e65400;
  color:#b6edfa;
  margin: 40px auto; 
  padding: 10px 20px; 
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #b6edfa;
  color: #e65400;
}

.modal-content {
  background-color: #000000; /* Black background */
  color: #00bfe3;
  box-shadow: 0 8px 16px #00bfe3;
  border: none;
}